* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
.container {
  width: 1600px;
  margin: 0 auto;
  color: #333b41;
}
header {
  height: 780px;
  background-image: url('./../../assets/images/Giant\ Panda.png');
}
.navi {
  height: 80px;
  background-color: #000;
  color: #fff;
  line-height: 1.4;
}
h1 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.logo {
  display: inline-block;
  width: 82px;
  height: 52px;
  border: 1px solid #fff;
  position: absolute;
  top: 14px;
  left: 220px;
  line-height: 1.2;
}
.logo img {
  position: relative;
  top: -24px;
  left: 9px;
}
ul {
  display: inline-block;
  position: absolute;
  left: 365px;
  top: 29px;
}
li {
  display: inline-block;
  margin-right: 58px;
}
.active {
  color: orange;
}
li:hover {
  cursor: pointer;
  color: orange;
  transition: 0.2s linear all;
}
.copywrite {
  display: inline-block;
}
a {
  text-decoration: none;
  color: #fff;
}
.copywrite {
  float: right;
  position: relative;
  top: 29px;
  right: 220px;
}
.circle {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  left: 807px;
  top: 97px;
}
header .about {
  width: 500px;
  height: 400px;
  position: absolute;
  font-size: 106px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  top: 166px;
  left: 880px;
  line-height: 79px;
}
header .about span {
  color: #ffee2e;
}
.btn {
  width: 298px;
  height: 54px;
  background-color: orange;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background-color: #ff8c00;
  transition: 0.2s linear all;
}
header .btn {
  position: absolute;
  top: 626px;
  left: 983px;
}
section {
  width: 1160px;
  margin: 0 auto;
}
.backstage {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 140px;
  color: #333b41;
  font-weight: 400;
  font-size: 16px;
  float: left;
  margin-bottom: 180px;
}
.backstage img {
  margin-right: 87px;
  width: 609px;
  height: 403px;
}
.backstage h2 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}
.backstage p span {
  margin-bottom: 54px;
  line-height: 23px;
}
.backstage h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 34px;
}
img.flower1 {
  position: absolute;
  margin-left: 16px;
  margin-top: 16px;
}
.pets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 30px 20px;
  margin-bottom: 80px;
}
.pets article > img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pets h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 5px;
}
.pets p {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 14px;
}
.pet-info {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
}
.pets article {
  border: 1px solid orange;
  border-radius: 10px;
}
.pet-icon img {
  margin-right: 12px;
  margin-top: 10px;
}
.arrow-left,
.arrow-right {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: orange;
  display: inline-block;
}
.animals {
  position: relative;
}
.arrow-left {
  position: relative;
  top: 482px;
  left: -80px;
}
.arrow-right {
  position: relative;
  top: 482px;
  left: 1115px;
}
.arrow-left img,
.arrow-right img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.arrow-left img {
  left: 22px;
}
.arrow-right img {
  right: 22px;
}
.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
  background-color: #ff8c00;
  transition: 0.2s linear all;
}
.animals article:hover {
  cursor: pointer;
  transition: 0.2s linear all;
  opacity: 0.8;
}
.scale {
  transition: 1s;
}
.scale:hover {
  transform: scale(1.04);
}
img.flower2 {
  position: relative;
  top: -362px;
}
img.flower3 {
  position: relative;
  top: -361px;
  left: 934px;
}
.pick-feed-friend {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  margin-bottom: 140px;
}

.animal {
  height: 1924px;
}
.pick-friend {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 41px 100px 59px 100px;
  color: #333b41;
}
.pick-friend h2 {
  text-align: center;
  color: #fe9013;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  margin-bottom: 30px;
  margin-top: 60px;
}
.pick-friend p:nth-child(2) {
  font-size: 24px;
  margin-bottom: 40px;
}
.pick-friend p:nth-child(3) {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.pick-friend p:nth-child(4) {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}
.pick-friend a {
  color: #333b41;
  text-decoration: underline;
  text-decoration-color: #fe9013;
}
.pick-friend h3 {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}
.pick-feed-friend {
  padding-top: 69px;
  padding-bottom: 100px;
}
.feed-friend {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.item {
  width: 168px;
}
.img {
  height: 168px;
  background-color: #fff;
  border: 1px solid #fe9013;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
}
.pick-friend .item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.arrow1,
.arrow2 {
  position: relative;
  top: 191px;
}
.arrow1 {
  left: 283px;
}
.arrow2 {
  left: 530px;
}
a.non-decor {
  text-decoration: none;
}
.people {
  display: grid;
  grid-template-columns: repeat(4, 267px);
  grid-column-gap: 30px;
}
.testimonials h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  margin-bottom: 47px;
}
.testinomials .about {
  display: flex;
}
.testimonials .about h4 {
  font-weight: 400;
  line-height: 19px;
  color: #000;
  font-size: 16px;
}
.testimonials .about p {
  font-weight: 300;
  font-size: 15px;
  color: #bdbdbd;
  line-height: 18px;
}
.testimonials .about .name {
  display: inline-block;
}
.testimonials .about .pic {
  width: 37px;
  height: 37px;
  display: inline-block;
  margin-right: 10px;
}
.testimonials .items {
  background-color: #f1f3f2;
  padding: 15px;
  border: 1px solid #fe9013;
  border-radius: 15px;
  margin-bottom: 21px;
  height: 391px;
}
.testimonials .items .desc p {
  font-size: 15px;
  color: #767474;
  margin-top: 10px;
}
.line {
  width: 599px;
  height: 8px;
  border-radius: 5px;
  background-color: #f5f7f6;
  margin-bottom: 31px;
  margin-right: auto;
  margin-left: auto;
}
.line:hover {
  cursor: pointer;
}
.inside-line {
  width: 115px;
  height: 6px;
  background-color: #fe9013;
  border-radius: 5px;
}
.inside-line:hover {
  cursor: pointer;
}
.testimonials button {
  margin-left: 0;
  border-radius: 5px;
  margin-bottom: 180px;
}
.leave-right {
  float: right;
  position: relative;
  top: -300px;
}
footer {
  background-color: #000;
}
