* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
.container {
  width: 1600px;
  margin: 0 auto;
}
header {
  height: 780px;
  background-image: url('./../../assets/images/Giant\ Panda.png');
}
.navi {
  height: 80px;
  background-color: #000;
  color: #fff;
  line-height: 1.4;
}
h1 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.logo {
  display: inline-block;
  width: 82px;
  height: 52px;
  border: 1px solid #fff;
  position: absolute;
  top: 14px;
  left: 220px;
  line-height: 1.2;
}
.logo img {
  position: relative;
  top: -24px;
  left: 9px;
}
ul {
  display: inline-block;
  position: absolute;
  left: 365px;
  top: 29px;
}
li {
  display: inline-block;
  margin-right: 58px;
}
.active {
  color: orange;
}
li:hover {
  cursor: pointer;
  color: orange;
  transition: 0.2s linear all;
}
.copywrite {
  display: inline-block;
}
a {
  text-decoration: none;
  color: #fff;
}
.copywrite {
  float: right;
  position: relative;
  top: 29px;
  right: 220px;
}
.circle {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  left: 807px;
  top: 97px;
}
header .about {
  width: 500px;
  height: 400px;
  position: absolute;
  font-size: 106px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  top: 166px;
  left: 880px;
  line-height: 79px;
}
header .about span {
  color: #ffee2e;
}
.btn {
  width: 298px;
  height: 54px;
  background-color: orange;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  cursor: pointer;
  background-color: #ff8c00;
  transition: 0.2s linear all;
}
header .btn {
  position: absolute;
  top: 626px;
  left: 983px;
}
section {
  width: 1160px;
  margin: 0 auto;
}
.backstage {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 140px;
  color: #333b41;
  font-weight: 400;
  font-size: 16px;
  float: left;
}
.backstage img {
  margin-right: 87px;
  width: 609px;
  height: 403px;
}
.backstage h2 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}
.backstage p {
  margin-bottom: 54px;
  line-height: 23px;
}
.backstage h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 34px;
}
img.flower1 {
  position: absolute;
  margin-left: 16px;
  margin-top: 16px;
}
