* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
.container {
  width: 1600px;
  margin: 0 auto;
  color: #333b41;
}
header {
  height: 780px;
  background-image: url('./../../assets/images/Giant\ Panda.png');
}
.navi {
  height: 80px;
  background-color: #000;
  color: #fff;
  line-height: 1.4;
}
h1 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.logo {
  display: inline-block;
  width: 82px;
  height: 52px;
  border: 1px solid #fff;
  top: 14px;
  left: 220px;
  line-height: 1.2;
  position: relative;
}
.logo img {
  position: relative;
  top: -24px;
  left: 9px;
}
ul {
  display: inline-block;
  left: 365px;
  position: relative;
  top: -49px;
}
li {
  display: inline-block;
  margin-right: 58px;
}
.active {
  color: #f9804b;
}
li:hover {
  cursor: pointer;
  color: #e47209;
  transition: 0.2s linear all;
}
a {
  text-decoration: none;
  color: #fff;
}
.copywrite {
  display: inline-block;
  float: right;
  position: relative;
  top: -69px;
  right: 220px;
}
.circle {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background-color: #f9804b;
  left: 807px;
  position: relative;
  top: 12px;
}
header .about {
  width: 500px;
  height: 400px;
  font-size: 106px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  left: 880px;
  line-height: 79px;
  position: relative;
  top: -377px;
}
header .about span {
  color: #ffee2e;
}
.btn {
  width: 298px;
  height: 54px;
  background-color: #f9804b;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background-color: #e47209;
  transition: 0.2s linear all;
}
header .btn {
  position: relative;
  top: -320px;
  left: 355px;
}
section {
  width: 1160px;
  margin: 0 auto;
}
.backstage {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 140px;
  color: #333b41;
  font-weight: 400;
  font-size: 16px;
  float: left;
  margin-bottom: 180px;
}
.backstage img {
  margin-right: 87px;
  width: 609px;
  height: 403px;
}
.backstage h2 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}
.backstage p span {
  margin-bottom: 54px;
  line-height: 23px;
}
.backstage h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 34px;
}
img.flower1 {
  position: absolute;
  margin-left: 16px;
  margin-top: 16px;
}
.pets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 30px 20px;
  margin-bottom: 80px;
}
.pets article > img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pets h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 5px;
}
.pets p {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 14px;
}
.pet-info {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
}
.pets article {
  border: 1px solid orange;
  border-radius: 10px;
}
.pet-icon img {
  margin-right: 12px;
  margin-top: 10px;
}
.arrow-left,
.arrow-right {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #f9804b;
  display: inline-block;
}
.animals {
  position: relative;
}
.arrow-left {
  position: relative;
  top: 482px;
  left: -80px;
}
.arrow-right {
  position: relative;
  top: 482px;
  left: 1115px;
}
.arrow-left img,
.arrow-right img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.arrow-left img {
  left: 22px;
}
.arrow-right img {
  right: 22px;
}
.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
  background-color: #e47209;
  transition: 0.2s linear all;
}
.animals article:hover {
  cursor: pointer;
  transition: 0.2s linear all;
  opacity: 0.8;
}
.scale {
  transition: 1s;
}
.scale:hover {
  transform: scale(1.04);
}
img.flower2 {
  position: relative;
  top: -362px;
}
img.flower3 {
  position: relative;
  top: -361px;
  left: 934px;
}
.pick-feed-friend {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  margin-bottom: 140px;
}

.animal {
  height: 1924px;
}
.pick-friend {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 41px 100px 59px 100px;
  color: #333b41;
}
.pick-friend h2 {
  text-align: center;
  color: #f9804b;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  margin-bottom: 30px;
  margin-top: 60px;
}
.pick-friend p:nth-child(2) {
  font-size: 24px;
  margin-bottom: 40px;
}
.pick-friend p:nth-child(3) {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.pick-friend p:nth-child(4) {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}
.pick-friend a {
  color: #333b41;
  text-decoration: underline;
  text-decoration-color: #fe9013;
}
.pick-friend h3 {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}
.pick-feed-friend {
  padding-top: 69px;
  padding-bottom: 100px;
}
.feed-friend {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.item {
  width: 168px;
}
.img {
  height: 168px;
  background-color: #fff;
  border: 1px solid #fe9013;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
}
.pick-friend .item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.arrow1,
.arrow2 {
  position: relative;
  top: 191px;
}
.arrow1 {
  left: 283px;
}
.arrow2 {
  left: 530px;
}
a.non-decor {
  text-decoration: none;
}
.people {
  display: grid;
  grid-template-columns: repeat(4, 267px);
  grid-column-gap: 30px;
}
.testimonials h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  margin-bottom: 47px;
}
.testinomials .about {
  display: flex;
}
.testimonials .about h4 {
  font-weight: 400;
  line-height: 19px;
  color: #000;
  font-size: 16px;
}
.testimonials .about p {
  font-weight: 300;
  font-size: 15px;
  color: #bdbdbd;
  line-height: 18px;
}
.testimonials .about .name {
  display: inline-block;
}
.testimonials .about .pic {
  width: 37px;
  height: 37px;
  display: inline-block;
  margin-right: 10px;
}
.testimonials .items {
  background-color: #f1f3f2;
  padding: 15px;
  border: 1px solid #fe9013;
  border-radius: 15px;
  margin-bottom: 21px;
  height: 391px;
}
.testimonials .items .desc p {
  font-size: 15px;
  color: #767474;
  margin-top: 10px;
}
.line {
  width: 599px;
  height: 8px;
  border-radius: 5px;
  background-color: #f5f7f6;
  margin-bottom: 31px;
  margin-right: auto;
  margin-left: auto;
}
.line:hover {
  cursor: pointer;
}
.inside-line {
  width: 115px;
  height: 6px;
  background-color: #fe9013;
  border-radius: 5px;
}
.inside-line:hover {
  cursor: pointer;
}
.testimonials button {
  margin-left: 0;
  border-radius: 5px;
  margin-bottom: 180px;
}
.leave-right {
  float: right;
  position: relative;
  top: -300px;
}
.foo {
  background-color: #000;
}
footer {
  width: 1160px;
  height: 443px;
  margin: 0 auto;
}
.flexible {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 40px;
}
.flexible .logo {
  position: relative;
  left: 0px;
  margin-bottom: 68px;
}
.flexible form {
  margin-left: 10px;
}
.flexible .btn {
  margin-left: 0;
  border-radius: 5px;
  margin-bottom: 44px;
}
.social .circle-item {
  width: 26px;
  height: 26px;
  background-color: #c4c4c4;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
}
.social .circle-item img {
  position: relative;
  top: 5px;
  left: 5px;
  margin-right: 10px;
}
.network {
  margin-bottom: 10px;
  line-height: 22px;
}
.footer-item .logo span,
.footer-item .logo div {
  font-size: 20px;
  font-weight: 400;
}
.footer-item .logo div {
  display: inline-block;
  margin-left: 12px;
}
.footer-item nav {
  position: relative;
  color: #fff;
}
.footer-item ul {
  top: 0;
  left: 0;
}
.footer-item li {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  margin-right: 58px;
}
.footer-item li:last-child {
  margin-right: 0;
}
.flexible .end {
  align-self: end;
  padding-bottom: 15px;
}
.flexible label {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.flexible .lab {
  margin-bottom: 14px;
}
.flexible input {
  width: 228px;
  height: 42px;
  color: #bdbdbd;
  background: #000;
  border: 1px solid orange;
  padding: 10px;
}
.flexible form button {
  background-color: #c4c4c4;
  color: green;
  padding: 10px 39px;
  border-radius: 5px;
  margin-left: 10px;
}
.flexible form button:hover {
  cursor: pointer;
  background-color: lightgrey;
  transition: 0.2s linear all;
}
.flexible .designed {
  margin-top: 223px;
  margin-left: 141px;
  font-weight: 100;
  color: #fff;
  line-height: 20px;
}

@media screen and (max-width: 1599px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  header {
    height: 584px;
    background-position: top;
    background-size: cover;
  }
  header .btn {
    left: -330px;
    top: -370px;
  }
  header .logo {
    left: 30px;
  }
  ul {
    left: 175px;
  }
  .copywrite {
    top: -71px;
    right: 30px;
  }
  .circle {
    left: 465px;
    top: -11px;
    width: 367px;
    height: 367px;
  }
  header .about {
    left: 487px;
    font-size: 85px;
    line-height: 75%;
    top: -333px;
  }
  img.flower1 {
    display: none;
  }
  section {
    width: 1000px;
    margin: 0 auto;
  }
  .backstage img {
    margin-right: 31px;
    width: 455px;
    height: 408px;
  }
  .backstage {
    margin-left: 30px;
    margin-right: 30px;
    align-items: flex-start;
    margin-top: 109px;
    margin-bottom: 0px;
  }
  .backstage p {
    margin-bottom: 54px;
  }
  .pets {
    gap: 92px 29px;
  }
  .arrow-left {
    top: 457px;
    left: 343px;
  }
  .arrow-right {
    top: 457px;
    left: 528px;
  }
  .animal {
    height: auto;
  }
  img.flower2 {
    top: 0px;
    height: 202px;
  }
  img.flower3 {
    top: 0px;
    left: 499px;
    height: 275px;
  }
  .pick-friend {
    width: 940px;
  }
  .pick-feed-friend {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .feed-friend {
    justify-content: space-between;
  }
  .arrow1 {
    left: 192px;
  }
  .arrow2 {
    left: 400px;
  }
  .pick-friend p:nth-child(4) {
    margin-bottom: 0px;
}
@media screen and (max-width: 999px) {
  .container {
    width: 640px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 639px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}
